.card{
    margin-top: 30px;
    transition: transform 0.5s;
    text-align: center;
}

.card p{
    font-size: 16px;
    margin-top: 10px;
}

.card:hover{
    transform: scale(1.1, 1.1);
}

.carregamento{
    text-align: center;
}

.pesquisa{
    margin-top: 30px;
    margin-bottom: 10px;
}

.grass{
background-color: rgb(92, 184, 92) !important;
}

.fire{
background-color: rgb(188, 89, 89) !important;
}

.water{
background-color: rgb(51, 58, 187) !important;
}

.bug{
background-color: rgb(165, 188, 89) !important;
}

.normal{
background-color: rgb(227, 227, 227) !important;
}

.poison{
background-color: rgb(93, 73, 167) !important;
}

.ground{
background-color: rgb(153, 122, 65) !important;
}

.fairy{
background-color: rgb(167, 94, 175) !important;
}

.electric{
background-color: rgb(245, 237, 86) !important;
}

.fighting{
background-color: rgb(174, 166, 118) !important;
}

.psychic{
background-color: rgb(130, 19, 182) !important;
}

.rock{
background-color: rgb(91, 83, 64) !important;
}

.ghost{
background-color: rgb(88, 74, 95) !important;
}

.ice{
background-color: rgb(24, 167, 195) !important;
}

.dragon{
background-color: rgb(236, 162, 0) !important;
}

.dark{
background-color: rgb(85, 85, 85) !important;
}

.steel{
background-color: rgb(119, 119, 119) !important;
}